@import url("https://fonts.googleapis.com/css2?family=Poppins400,600,800&display=swap");
*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

:root {
	--app-bg-color: #f34849;
	--card-bg-color-white: #fff;
	--card-bg-color-dark: #242424;
	--color-light-gray: #f0f0f0;
}

body {
	background-color: var(--app-bg-color);
}

header{
	padding: 1rem;
	text-align: center;
}

header h1{
	font-size: 3rem;
	color: var(--card-bg-color-dark);
	font-weight: 400;
}

main{
	padding: 2rem;
	height: 79vh;
}

button{
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
}

input{
	outline: none;
	border: none;
	background-color: #D0D0D7;
}

section{
	width: 90%;
	display: flex;
	padding: 1rem;
	margin: 0.5rem auto;
	background-color: white;
}

/* SWITCHES STYLE */
.switches{
	justify-content: space-between;
}

/* CONTACT LIST */
.contact-list{
	align-items: center;
}

ul{
	width: 100%;
}

.list-item{
	list-style: none;
	display: flex;
	border-top: 0.5px solid var(--card-bg-color-dark) ;
	padding: 0.5rem 0;
}

.list-item span{
	margin-right: 0.5rem;
}

.list-image{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.list-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.list-info{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.list-info p{
	font-size: small;
}

.list-email{
	color: var(--card-bg-color-dark);
	font-size: x-small !important;
}

.list-actions{
	margin-left: auto !important;
	display: flex;
	align-items: flex-end;
}


/* SEARCH BOX */
.search-box {
	display: none;
}

.search-box input{
	padding: 0.5rem 1rem;
	width: 100%;
	font-size: x-small;
}

/* CONTACT FORM */
.contact-form{
	display: none;
}

.contact-form form{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.contact-form input{
	margin: 0.5rem 0;
	border: 1px solid #d1d5db;
	padding: 0.9rem 1rem;
	font-size: small;
	border-radius: 5px;
}

.contact-form button{
	margin: 0.5rem 0;
	padding: 0.8rem 1rem;
	background-color: var(--app-bg-color);
	color: white;
	font-weight: 600;
}